div{
    min-height: 300px;
    max-width: 70%;
    max-height: 500px;
    min-width: 500px;
    overflow: auto;
    background-color: purple;
}

div > .first{
    min-width: 500px;
    min-height: 300px;
}

div > .second{
    max-width: 400px;
    max-height: 250px;
}